blinker==1.4.0
click==8.1.8
colorama==0.4.6
Flask==2.2.5
gunicorn==23.0.0
itsdangerous==2.1.2
Jinja2==3.1.5
MarkupSafe==2.1.1
packaging==23.0
Werkzeug==2.2.2
urlextract==1.4.0
wordcloud==1.8.1
emoji==1.6.3
seaborn==0.11.2
matplotlib==3.5.1
pandas==1.3.3
nltk==3.7
plotly==5.5.0
